body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #663300;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.button, button {
    padding: 15px 25px;
    background-color: #219603;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 48%;
    transition: background-color 0.3s;
}

.button:hover, button:hover {
    background-color: #0056b3;
}

.form-container {
    display: none;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000000;
}

input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
