body {
   margin: 0;
   font-family: Arial, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #eef2f5;
}

.container {
   width: 100%;
   max-width: 400px;
   padding: 30px;
   background-color: #fff;
   border-radius: 15px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
   text-align: center;
}

.button, button {
   padding: 15px 25px;
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 18px;
   transition: background-color 0.3s;
}

.button:hover, button:hover {
   background-color: #0056b3;
}

/* Additional CSS for the logout button */
.logout-button {
   margin-top: 20px;
   text-align: center;
}







/* Define animations using CSS or JavaScript
   Use animations to create smooth transitions and visual effects */

   /* Add custom themes, sound effects, and additional styles Store custom styles in the 'styles' folder Apply these enhancements as needed to improve the user experience */




 
  